header{
    background-color: white;
}
header ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.5vw;
    font-weight: bold;
    border-bottom: 5px solid black;
    height: 125px;
}
header a{
    text-decoration: none;
    color: black;
}
header a:hover{
    text-decoration: underline;

}
header img{
    max-width:10em;
    display:block;
    height:auto;
}

footer{
    background-color: #5b7cc3;
    padding: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    margin-top: 25px;
}

.social{
    justify-content: end;
    flex-direction: row;
    display: flex;
}

footer img{
    width: 20px;
    height: 20px;
    padding-left: 10px;
    filter: grayscale(1) invert(1);
}
.copy{
    width: 12px;
    height: 12px;
}

@media only screen and (max-width: 600px) {
    header img{
        max-width:20em;
        display:block;
        height:auto;
    }
    header ul{
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: 1.5vw;
        font-weight: bold;
        border-bottom: 5px solid black;
        height: 60px;
    }
    footer{
        flex-direction: column;
        text-align: center;
    }
    .copy{
        align-self: center;
    }
    .social{
        flex-direction: row;
        align-self: center;
        padding-top: 15px;
        padding-bottom: 15px;
    }
}